<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro i18n routing</title>
  </head>
  <body>
    <a href="/en/home">English</a>
    <br />
    <a href="/fr/home">Français</a>
  </body>
</html>
