---
import { t } from "i18next";
---

<footer class="">
  <div class="bg-blue-950 bg-opacity-90 text-white px-10 py-5">
    <h3 class="text-xl font-semibold">{t("site.goc")}</h3>
    <a href="#" class="font-thin text-sm">{t("site.about")}</a>
  </div>
  <div class="px-10 py-5 flex">
    <div class="grow">
      <a href="#" class="font-thin text-sm block">{t("site.privacy")}</a>
      <a href="#" class="font-thin text-sm block">{t("site.toc")}</a>
    </div>
    <img src="/assets/wmms-blk.svg" class="h-8" />
  </div>
</footer>
